html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --transparent-text-color: rgba(255, 255, 255, 0.6);

  --white-color: #ffffff;
  --blue-color: #2196f3;

  --secondary-background-color: #2f303a;
  --section-background-color: #f5f4fa;
  --accent-btn-background-color: #188ce8;

  --border-header-color: #ececec;
}

/*------------BODY------------*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

/*-----------Utilities-----------*/

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*background-color: rgb(127, 214, 210);*/
}

/*------------HEADER------------*/
.header {
  border: 1px solid var(--border-header-color);
}

.nav-list .nav-link.current {
  color: var(--blue-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.part-logo {
  color: var(--blue-color);
}

.nav-list {
  display: flex;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--blue-color);
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}

.header-list {
  margin-left: auto;
  display: flex;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-item {
  list-style-type: none;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--blue-color);
}

/*------------FOOTER-----------*/
.footer {
  background-color: var(--secondary-background-color);
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-part-logo {
  color: var(--blue-color);
}

.address-name:hover,
.address-name:focus {
  color: var(--blue-color);
}

.address-name {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-item + .footer-item {
  margin-top: 9px;
}

.footer-item {
  text-decoration: none;
}

.footer-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--transparent-text-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--blue-color);
}

/*------------------------------------СТУДІЯ-----------------------------------*/

/*------------HERO------------*/
.hero {
  background-color: var(--secondary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
}

.hero-title {
  margin-bottom: 30px;
  
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-btn-background-color);
  cursor: pointer;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
}

/*------------------ПРИХОВАНИЙ ЗАГОЛОВОК------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*------------OUR FEATURES------------*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-item {
  list-style-type: none;
}

.features-subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*------------OUR ACTIVITIES-----------*/
.activities {
  padding-bottom: 94px;
}

.activities-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.activities-item {
  list-style-type: none;
}

/*------------OUR TEAM-----------*/
.team {
  background-color: var(--section-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  list-style-type: none;
  background-color: var(--white-color);
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}

/*----------------------------------ПОРТФОЛІО--------------------------------*/

/*----------main-------------*/
.list-btn {
  list-style-type: none;
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
}

.list-btn .btn-filter.current {
  background-color: var(--blue-color);
}

.btn-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--section-background-color);
}

.list-projects {
  list-style-type: none;
}

.link-projects {
  text-decoration: none;
}

.subtitle-projects {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.text-projects {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
